@media screen and (max-width: 300px) {
    div {
        background-color: green;
        height: 400px;
        width: 400px;
        color: aliceblue;
    }
}



@media screen and (min-width: 600px) {
    div {
        background-color: blue;
        height: 400px;
        width: 400px;
        color: aliceblue;
    }
}

@media screen and (min-width: 400px) and (max-width:600px) {
    div {
        background-color: rgb(200, 34, 34);
        height: 400px;
        width: 400px;
        color: aliceblue;
    }
}
@media screen and (min-width: 300px) and (max-width:400px){
    div {
        background-color: rgb(200, 34, 164);
        height: 400px;
        width: 400px;
        color: aliceblue;
    }
}